#description{
	text-align:center;
	color:rgba(101, 202, 210,1);
	font-family: 'Lato', sans-serif;
	font-size: 70%;
	font-style: italic;
	font-variant: small-caps;
	margin: 0;
}
#login{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-variant: small-caps;
	color:rgba(101, 202, 210,1);
}
input{
	color:rgba(0,0,0,1);
	padding:1%;
	font-family: 'Lato', sans-serif;
}
input[type=submit]{
	border:rgba(101, 202, 210,1);
	padding:2% 3%;
	color:rgba(255,255,255,1);
	font-weight:bold;
	background-color: rgba(101, 202, 210,0.8);
	border-radius: 3px;
	box-shadow: 1px 1px 20px black;
}
input[type=submit]:hover{
	box-shadow: 2px 2px 20px rgba(101, 202, 210,0.8);
}
#error{
	font-size: 60%;
	color: red;
	text-align: center;
}
#heading{
	margin: 0;
	font-weight: bold;
}
#login p{
	margin-bottom: 0px;
	font-size: 88%;
}
#login label{
	font-style: italic;
	font-size: 60%;
}
#login table{
	margin: auto;
}
#login table td{
	text-align: left;
}