h1{
	text-align: center;
	display: inline;
	padding: 0px 0px 10px 0px;
	font-size: 40px;

	color: white;
}
body{
	background-image: url(leave.jpg);
	background-size: cover;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
form input{
	margin: 10px;
	font-size: 18px;
}
nav ul{
	display: inline;
	padding: 0px 0px 0px 20px;
}
nav ul li{
	display: inline;
	padding: 5px 7px;
	margin: 0px 3px;
	font:italic 20px times new roman;
a{
	color: white;
}
header{
	margin: 0px;
	background-color: #006699;
	padding: 2cm;
}